<div class="jumbotron">
  <section class="banner" > 
    <div class="inner">
      <h3 class="h3_jumbo">Marta Bus Locator</h3>
        <hr>
        <p><p><%= link_to "Find A Bus", new_path, class: "btn btn-primary h3_jumbo" %></P>
    </div>
  </section>
</div>

<div class="container">
  <div class="row row_fix">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title home_panel">About this Site</h3>
        </div>
      <div class="panel-body">
      <p>This site uses the Marta and Google Maps API to help a user find the closest Marta bus stop to them. 
        When the user uses the site, they type in their address-where they currently are located and then submit that. The program will return the nearest Marta Bus stops to them. In some cases, it may give back quite a few responses and in others, it will only give a few. It really depends on your current location and the time. Feel free to use it at the following link: <%= link_to "Find A Bus", new_path, class: "btn btn-primary h3_jumbo" %> </p>
    </div>
  </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title home_panel">About the Developer</h3>
        </div>
      <div class="panel-body">
        <p>I am a junior web developer who likes to make rails projects. I built a site similar
          to this one while I was in the coding boot camp <a href="http://techtalentsouth.com/">Tech Talent South.
          </a> However, I never got that site up on the web. That site also did not use the Google Maps API which will show the user where the closest bus is by using google maps. I have decided to come back to the Marta Project and create it from the start. I also am very fascinated with API's and thought that this would be a great review.</p> 
          <p>Feel free to check out my other two sites. The first one I made as a blog with Ruby on Rails and the second one is blog that I made with word press.</p> 
          <ol> 
            <li><a href="https://cuddy-blog.herokuapp.com/">My Personal Site</a></li>
            <li><a href="https://codingsaga.wordpress.com/">Word Press Site</a></li>
          </ol>
      </div>
      </div>
    </div>
  </div>
</div>


      
