<div class="jumbotron">
  <section class="banner" > 
    <div class="inner">
      <h3 class="h3_jumbo">Marta Bus Locator</h3>
        <hr>
        <p><p><%= link_to "Find A Bus", new_path, class: "btn btn-primary h3_jumbo" %></P>
    </div>
  </section>
</div>

<div class="container">
  <div class="row row_fix">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title home_panel">About this Site</h3>
        </div>
      <div class="panel-body">
      <p class="text_size">This site uses the Marta and Google Maps API's to help a user find the nearest Marta bus stop. When the user uses the site, they type in their address-where they currently are located and then submit it. Using the Marta API, the program will return the nearest Marta Bus stops to them. In some cases, it may give back quite a few responses and in others, it will only give a few. It really depends on your current location and the time. Feel free to use it at the following link: <%= link_to "Find A Bus", new_path, class: "btn btn-primary h3_jumbo text_size" %></p>
    </div>
  </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title home_panel">About the Developer</h3>
        </div>
      <div class="panel-body">
        <p class="text_size">I am a junior web developer who likes to make rails projects. I built a site similar
          to this one while I was in the coding boot camp <a href="http://techtalentsouth.com/">Tech Talent South.
          </a> Unfortuently, I never got that site up on the web. However, I was always fascinated by the project and figured that at the very least, this could be my own personal MARTA Bus Locator App. Also, my old site did not use the Google Maps API which will allow the user to actually see where the closest bus stop is. Finally, I also am very fascinated with API's and thought that this would be a great review to use two at the same time!</p> 
          <p class="text_size">Feel free to check out my other two sites. The first one, which I created with Ruby on Rails, is my own blog and the second one is blog that I made with word press.</p> 
          <ol> 
            <li class="text_size"><a href="https://cuddy-blog.herokuapp.com/">My Personal Site</a></li>
            <li class="text_size"><a href="https://codingsaga.wordpress.com/">Word Press Site</a></li>
          </ol>
      </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
    <p>
      <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/"><i class="fa fa-github fa-3x"></i>
    </p>
    <p>
      <em class="footer1">&copy; 2016 Mike Cuddy Productions</em>
    </p>
</div>


      
