<div class="jumbotron">
      <section class="banner" > 
      <div class="inner">
        <h3 class="h3_jumbo">Marta Bus Locator</h3>
          <hr>
        <p><p><%= link_to "Find A Bus", new_path, class: "btn btn-primary h3_jumbo" %></P>
      </div>
    </section>

</div>


      
