<div class="jumbotron new_page">
  <section class="banner" > 
    <div class="inner">
      <h3 class="h3_jumbo">Looking for a Bus?</h3>
    </div>
  </section>
</div>


<div class="container">
  <h1 class="new_top">How this works</h1>
    <ol class="new_text">
      <li>Type in your current/approximate address below!</li>
      <li>Place Atlanta in for the city</li>
      <li>That is it!</li>
    </ol>
  <div class="new_main">
    <%= render 'form' %>
  </div>
</div>

<div id="footer">
    <p>
      <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/"><i class="fa fa-github fa-3x"></i>
    </p>
    <p>
      <em class="footer1">&copy; 2016 Mike Cuddy Productions</em>
    </p>
</div>
