<div class="jumbotron test">
  <section class="banner" > 
    <div class="inner">
      <h3 class="h3_jumbo">Looking for a Bus?</h3>
    </div>
  </section>
</div>


<div class="container new_top">
  <h1>Looking for a Bus?</h1>
</div>

<div class="container new_main">
  <p>
  	Please give us your address or 
  	approximate location (<em>I'm at the 
  	corner of...</em>), and we'll let you 
  	know if there's a bus in the vicinty!
  </p> 

  <%= render 'form' %>

  <%= link_to 'Back', locations_path, class: "btn btn-primary" %>
</div>

<div id="footer">
    <p>
      <a href="https://twitter.com/"><i class="fa fa-twitter fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/mcuddy1"><i class="fa fa-linkedin-square fa-3x"></i></a>
      <a href="https://github.com/"><i class="fa fa-github fa-3x"></i>
    </p>
    <p>
      <em class="footer1">&copy; 2016 Mike Cuddy Productions</em>
    </p>
</div>
