<div class="container new_top">
  <h1>Is a Bus Nearby?</h1>
</div>

<div class="container new_main">
  <p>
  	Please give us your address or 
  	approximate location (<em>I'm at the 
  	corner of...</em>), and we'll let you 
  	know if there's a bus in the vicinty!
  </p> 

  <%= render 'form' %>

  <%= link_to 'Back', locations_path, class: "btn btn-primary" %>
</div>
